html {
	font-family: 'room';
	font-weight: 500;
	font-size: #{$fs}px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111111;
}

.wrapper {
	width: 1000rem / $fs;
	padding: 0 20rem / $fs;
	margin: 0 auto;
}
 
.clearfix {
	zoom: 1;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: "";
		display: table;
	}
}

.main {
	&.header-min {
		padding-top: 210rem / $fs;
	}
}

.pagination {
	text-align: center;
	margin: 0;
	padding: 25rem / $fs 0 60rem / $fs;
	list-style: none;
	font-size: 20rem / $fs;

	li {
		display: inline-block;
		margin: 0 2rem / $fs;

		span, a {
			display: inline-block;
			width: 25rem / $fs;
			line-height: 25rem / $fs;
			height: 25rem / $fs;
			color: inherit;
			text-decoration: none;
		}

		a {
			color: #3facd9;
			transition: all .2s ease;

			&:hover {
				color: #111;
			}
		}

		&.active {
			span, a {
				background: $borderColor;
			}
		}
	}
}

.half-page {
	overflow: hidden;

	.wrapper {
		position: relative;
	}

	.page__left,
	.page__right {
		box-sizing: border-box;
		padding-top: 80rem / $fs;
	}

	.page__left {
		float: left;
		width: 63%;
		padding-right: 70rem / $fs;
		border-right: 1px solid $borderColor;
	}

	.page__right {
		float: left;
		width: 37%;
		border-left: 1px solid $borderColor;
		margin-left: -1px;

		.benefits__item {
			border-bottom: 1px solid $borderColor;
			padding: 40rem / $fs 0 100rem / $fs 70rem / $fs;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.us-article {
	h2 {
		font-family: 'pf_agora_slab_pro';
		font-size: 24rem / $fs;
		font-weight: 800;
		line-height: 1.2;
		margin: 50rem / $fs 0 30rem / $fs;
	}

	p {
		line-height: 1.5;
	}
}