html {
	font-family: 'room';
	font-weight: 500;
	font-size: #{$fs}px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111111;
}

.wrapper {
	width: 1000rem / $fs;
	padding: 0 20rem / $fs;
	margin: 0 auto;
}
 
.clearfix {
	zoom: 1;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: "";
		display: table;
	}
}

.main {
	&.header-min {
		padding-top: 305rem / $fs;
	}
}