@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-black-webfont.eot');
    src: url('../fonts/pfagoraslabpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-black-webfont.woff2') format('woff2'),
         url('../fonts/pfagoraslabpro-black-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-black-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-reg-webfont.eot');
    src: url('../fonts/pfagoraslabpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-reg-webfont.woff2') format('woff2'),
         url('../fonts/pfagoraslabpro-reg-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-reg-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-bold-webfont.eot');
    src: url('../fonts/pfagoraslabpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfagoraslabpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'pf_agora_slab_pro';
    src: url('../fonts/pfagoraslabpro-medium-webfont.eot');
    src: url('../fonts/pfagoraslabpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfagoraslabpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'room';
    src: url('../fonts/glen_jan_-_room-medium-webfont.eot');
    src: url('../fonts/glen_jan_-_room-medium-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/glen_jan_-_room-medium-webfont.woff2') format('woff2'),
         url('../fonts/glen_jan_-_room-medium-webfont.woff') format('woff'),
         url('../fonts/glen_jan_-_room-medium-webfont.ttf') format('truetype'),
         url('../fonts/glen_jan_-_room-medium-webfont.svg#roommedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'room';
    src: url('../fonts/glen_jan_-_room-bold-webfont.eot');
    src: url('../fonts/glen_jan_-_room-bold-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/glen_jan_-_room-bold-webfont.woff2') format('woff2'),
         url('../fonts/glen_jan_-_room-bold-webfont.woff') format('woff'),
         url('../fonts/glen_jan_-_room-bold-webfont.ttf') format('truetype'),
         url('../fonts/glen_jan_-_room-bold-webfont.svg#roombold') format('svg');
    font-weight: 700;
    font-style: normal;
}