.footer {
	border-top: 1px solid $borderColor;
	padding: 50rem / $fs 0;
	overflow: hidden;
	height: 60rem / $fs;

	.footer__left {
		float: left;
		font-size: 14rem / $fs;
		font-weight: 700;

		.left__block {
			display: inline-block;
			vertical-align: middle;
			line-height: 30rem / $fs;
			margin-left: 135px;

			&:first-child {
				margin-left: 0;
			}

			.block__link {

				a {
					color: $linkColor;
					text-decoration: none;
					border-bottom: 1px solid;
					transition: border .2s ease;

					&:hover {
						border-color: transparent
					}
				}
			}
		}
	}

	.footer__right {
		display: inline-block;
		float: right;
		text-align: right;
		line-height: 30rem / $fs;

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			font-size: 20rem / $fs;
			font-weight: 500;
		}

		a {
			font-size: 14rem / $fs;
			color: #42b974;
			text-decoration: none;
			transition: border-color .2s ease;
			border-bottom: 1px solid #42b974;

			&:hover {
				border-color: transparent;
			}
		}
	}
}