.us-title {
	font-size: 40rem / $fs;
	color: #fff;
	margin: 0;

	&.title-green {
		span {
			background: #49c5b2;
		}
	}

	&.title-blue {
		span {
			background: #6584c2;
		}
	}

	&.title-yellow {
		span {
			background: #edbf62;
		}
	}

	&.title-red {
		span {
			background: #b970b1;
		}
	}

	&.title-photos {
		span {
			background: rgba(241, 88, 34, .84);
		}
	}

	&.title-choise {
		span {
			background: rgba(221, 62, 68, .84);
		}
	}

	span {
		display: inline-block;
		vertical-align: top;
		padding: 0 20rem / $fs;
		line-height: 65rem / $fs;
	}
}

.us-page {
	padding-top: 85rem / $fs;
}

.us-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 40rem / $fs;
	line-height: 36rem / $fs;
	padding: 0 15rem / $fs;
	box-sizing: border-box;
	font-family: 'pf_agora_slab_pro';
	font-weight: 700;
	text-decoration: none;
	overflow: hidden;
	transition: all .2s ease;
	outline: none;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(-100%);
		transition: all .2s ease;
	}

	&:hover {
		&:before {
			transform: translateY(0);
		}
	}

	&.btn-green {
		color: #fff;
		background: #42b974;
		border: 2px solid #42b974;

		&:before {
			background: #fff;
		}

		&:hover {
			color: #42b974;
		}
	}

	&.btn-white {
		color: inherit;
		border: 2px solid #111;

		&:before {
			background: #111;
		}

		&:hover {
			color: #fff;
		}
	}

	&.btn-transparent {
		color: #fff;
		border: 2px solid #fff;

		&:before {
			background: #fff;
		}

		&:hover {
			color: #111;
		}
	}

	&.btn-blue {
		color: #fff;
		background: #476cb4;
		border: 2px solid #476cb4;

		&:before {
			background: #fff;
		}

		&:hover {
			color: #476cb4;
		}
	}

	span {
		position: relative;
		z-index: 2;
	}
}

.us-link {
	color: $linkColor;
	text-decoration: none;
	border-bottom: 1px solid;
	transition: all .2s ease;

	&:hover {
		border-bottom: 1px solid transparent;
	}
}