.wrapper-choise {
	position: relative;
	min-height: 90vh;
	max-height: 100vw;

	.choise__map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 90vh;
		max-height: 100vw;
		overflow: hidden;
		backface-visibility: hidden;

		.map__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 4200rem / $fs;
			height: 2625rem / $fs;
			background: url(../images/map.jpg) 0 0 / 100% 100% no-repeat;
			cursor: move;
			transform: translate(0, 0);
			opacity: 0;

			&.transition {
				transition: transform .3s ease-out;
			}

			&.active {
				opacity: 1;
			}

			.image__hint {
				position: absolute;
				height: 54rem / $fs;
				z-index: 1;
				pointer-events: none;

				&.hint-1 {
					top: 80rem;
					left: 183rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint1.png) center center / 100% auto no-repeat;
				}

				&.hint-2 {
					top: 56rem;
					left: 202rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint1.png) center center / 100% auto no-repeat;
				}

				&.hint-3 {
					top: 119rem;
					left: 77rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint1.png) center center / 100% auto no-repeat;
				}

				&.hint-4 {
					top: 75rem;
				    left: 153rem;
					width: 177rem / $fs;
					background: url(../images/ui/hint3.png) center center / 100% auto no-repeat;
				}

				&.hint-5 {
					top: 81rem;
					left: 77rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint2.png) center center / 100% auto no-repeat;
				}

				&.hint-6 {
					top: 81rem;
				    left: 107rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint2.png) center center / 100% auto no-repeat;
				}

				&.hint-7 {
					top: 61rem;
				    left: 136rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint2.png) center center / 100% auto no-repeat;
				}

				&.hint-8 {
					top: 38rem;
				    left: 143rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint2.png) center center / 100% auto no-repeat;
				}

				&.hint-9 {
					top: 34rem;
				    left: 133rem;
					width: 137rem / $fs;
					background: url(../images/ui/hint2.png) center center / 100% auto no-repeat;
				}
			}

			.image__line {
				position: absolute;
				opacity: .7;

				&.line-1 {
					top: 82rem;
					left: 46.5rem;
					width: 77rem;
				    height: 77rem;
					background: url(../images/ui/contur1.svg) 0 0 / 100% 100% no-repeat;
				}

				&.line-2 {
					top: 51.1rem;
				    left: 107.1rem;
				    width: 98rem;
				    height: 73rem;
					background: url(../images/ui/contur2.svg) 0 0 / 100% 100% no-repeat;
				}

				&.line-3 {
					top: 9.8rem;
					left: 131.1rem;
					width: 80.9rem;
					height: 62rem;
					background: url(../images/ui/contur3.svg) 0 0 / 100% 100% no-repeat;
				}
			}

			.image__mark {
				position: absolute;
				width: 20rem / $fs;
				height: 20rem / $fs;
				margin-left: -20rem / $fs / 2;
				margin-top: -20rem / $fs / 2;
				background: url(../images/ui/house.svg);
				cursor: pointer;

				&.sold {
					border-radius: 17rem / $fs;
					width: 17rem / $fs;
					height: 17rem / $fs;
					margin-left: -17rem / $fs / 2;
					margin-top: -17rem / $fs / 2;
					background: rgba(206, 46, 46, .8);

					&:after {
						content: "";
						position: absolute;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						border-radius: 20rem / $fs;
						border: 1px solid rgba(206, 46, 46, .8);
					}
				}
			}

			.image__tooltip {
				display: none;
				position: absolute;
				z-index: 2;
				margin-left: -290rem / $fs / 2;
				margin-bottom: 20rem / $fs;
				width: 290rem / $fs;
				padding: 30rem / $fs 100rem / $fs 30rem / $fs 30rem / $fs;
				min-height: 195rem / $fs;
				box-sizing: border-box;
				background: #fff;
				cursor: default;
				opacity: 0;
				transform: translateY(-10%);

				&.transition {
					transition: all .5s ease;
				}

				&.active {
					opacity: 1;
					transform: translateY(0);
				}

				&.fromtop {
					margin-top: 20rem / $fs;

					&:after {
						top: auto;
						bottom: 100%;
						border-width: 0 20rem / $fs 20rem / $fs 20rem / $fs;
						border-color: transparent transparent #fff transparent;
					}
				}

				&:before {
					content: "";
					position: absolute;
					bottom: -7rem / $fs;
					right: -50rem / $fs;
					width: 108rem / $fs;
					height: 125rem / $fs;
					background: url(../images/ui/tooltip-apple.png) 0 0 / 100% auto no-repeat;
				}

				&:after {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -20rem / $fs;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 20rem / $fs 20rem / $fs 0 20rem / $fs;
					border-color: #fff transparent transparent transparent;
				}

				.tooltip-sold {
					padding-top: 15rem / $fs;
				}

				.tooltip__close {
					position: absolute;
					display: inline-block;
					top: 28rem / $fs;
					right: 28rem / $fs;
					height: 18rem / $fs;
					width: 18rem / $fs;

					&:before, &:after {
						content: "";
						position: absolute;
						top: 50%;
						margin-top: -1px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #111;	
					}

					&:before {
						transform: rotate(-45deg);
					}

					&:after {
						transform: rotate(45deg);
					}
				}

				.tooltip__title {
					font-family: 'pf_agora_slab_pro';
					font-weight: 700;
				}

				.tooltip__subtitle {
					margin-top: 7rem / $fs;
				}

				.tooltip__list {
					list-style: none;
					margin: 17rem / $fs 0;
					padding: 0;

					.list__item {
						position: relative;
						margin: 7rem / $fs 0;
						padding-left: 12rem / $fs;

						&:before {
							content: "–";
							position: absolute;
							left: 0;
						}
					}
				}
			}
		}
	}

	.wrapper-params {
		position: absolute;
		z-index: 2;
		right: 20rem / $fs;
		top: 80rem / $fs;

		.choise__toparams {
			display: inline-block;
			background: rgba(0, 0, 0, .7);
			color: #fff;
			padding: 20rem / $fs;
			border: 1px solid #fff;
			text-decoration: none;

			span {
				display: block;
			}

			.toparams__title {
				font-family: 'pf_agora_slab_pro';
				font-weight: 700;
			}

			.toparams__desc {
				font-size: 15rem / $fs;
				margin-top: 10rem / $fs;
			}
		}
	}

	.choise-map {
		.choise__toparams, .wrapper-photos, .wrapper-params, .image__mark {
			opacity: 0;
			transition: all .5s ease;
		}

		&.active {
			.choise__toparams, .wrapper-photos, .wrapper-params, .image__mark {
				opacity: 1;
			}
		}
	}

	.choise-filter {
		position: relative;
		z-index: 3;
		background: rgba(255, 255, 255, .9);
		height: 90vh;
		max-height: 100vw;
		overflow: auto;
		z-index: -1;
		opacity: 0;
		transform: translateY(-20px);
		transition: all .5s ease;

		&.active {
			opacity: 1;
			transform: translateY(0);
		}

		&.infront {
			z-index: 5;
		}

		.page__full {
			position: relative;
			margin-top: 80rem / $fs;
		}

		.choise__tomap {
			position: absolute;
			top: 80rem / $fs;
			right: 0;
		}

		.filter__form {
			width: 920rem / $fs;
			margin-top: 30rem / $fs;
			padding-bottom: 60rem / $fs;

			.form__left {
				float: left;
				width: 35%;

				.form__title {
					margin-bottom: 20rem / $fs;
				}

				.left__check {
					margin-top: 13rem / $fs;

					.ui-button {
						position: relative;
						border: none;
						background: transparent;
						padding-left: 27rem / $fs;

						&:before {
							content: "";
							position: absolute;
							left: 0;
							top: -1rem / $fs;
							width: 20rem / $fs;
							height: 20rem / $fs;
							box-sizing: border-box;
							border: 2px solid #42b974;
							border-radius: 2px;
						}

						&:after {
							content: "";
							position: absolute;
							left: 7rem / $fs;
							top: 6rem / $fs;
							width: 6rem / $fs;
							height: 6rem / $fs;
							background: #42b974;
							opacity: 0;
							transform: scale(2);
							transition: all .2s;
						}

						&.ui-state-active {
							&:after {
								opacity: 1;
								transform: scale(1);
							}
						}
					}

					.ui-button-text {
						padding: 0;
						font-size: 16rem / $fs;
						font-family: "room";
						color: #111;
					}
				}
			}

			.form__right {
				float: left;
				width: 65%;

				.right__block {
					margin-top: 30rem / $fs;

					.form__title {
						margin-top: 0;
					}
				}

				.right__btn {
					margin-top: 50rem / $fs;
				}
			}

			.form__title {
				font-family: 'pf_agora_slab_pro';
				font-weight: 700;
				margin-top: 30rem / $fs;
			}

			.form__desc {
				margin-top: 15rem / $fs;
			}

			.form__slider {
				margin-top: 30rem / $fs;

				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
					background: url(../images/ui/green-apple.png) center center / contain no-repeat;
					outline: none;
					border: none;
					width: 32rem / $fs;
					height: 38rem / $fs;
					margin-top: -38rem / $fs / 3;
				}

				.ui-slider-horizontal {
					height: 5rem / $fs;
					border-radius: 0;
					border: none;
					background: #e15b60;
				}

				.ui-slider .ui-slider-range {
					background: #42b974;
				}

				.ui-slider-handle {
					cursor: pointer;
				}
			}
		}
	}

	.filter__list {
		display: none;
		background: #fff;
		padding: 25rem / $fs 0 50rem / $fs;

		.list__table {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				font-size: 0;
			}

			.table__head {
				.body__item {
					font-family: 'pf_agora_slab_pro';
					font-size: 16rem / $fs;
					font-weight: 700;
				}
			}

			.table__body {
				.body__item {
					font-size: 15rem / $fs;	
					transition: all .2s ease;
					cursor: pointer;

					&:nth-child(2n-1) {
						background: #f8f8f8;
					}

					&:hover {
						background: #e7f5ed;
					}
				}
			}

			.body__item {
				height: 50rem / $fs;
				line-height: 50rem / $fs;

				.wrapper {
					position: relative;
				}

				span {
					display: inline-block;
					vertical-align: top;
					text-align: center;

					&:nth-child(1), &:nth-child(2), &:nth-child(3) {
						width: 13%;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 18%;
					}
					&:nth-child(6) {
						width: 25%;
					}
				}

				&.nothing-found {
					text-align: center;
					font-size: 18rem / $fs;

					&:hover {
						background: #f8f8f8;
					}
				}
			}
		}
	}

	.lines-choice {
		position: relative;
		margin-top: 20rem / $fs;
		height: 65rem / $fs;
		width: 326rem / $fs;
		text-align: center;
		pointer-events: initial;

		.choice__left, .choice__right {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 75rem / $fs;
			background-size: cover;
			background-position: center center;

			&[disabled="disabled"] {
				opacity: 0;
				cursor: default;
			}
		}

		.choice__left {
			float: left;

			&[data-number="1"] {
				background-image: url(../images/ui/line1left.svg);
			}

			&[data-number="2"] {
				background-image: url(../images/ui/line2left.svg);
			}
		}

		.choice__right {
			float: right;

			&[data-number="2"] {
				background-image: url(../images/ui/line2right.svg);
			}

			&[data-number="3"] {
				background-image: url(../images/ui/line3right.svg);
			}
		}

		.choice__center {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 135rem / $fs;
			background-size: cover;
			background-position: center center;

			&[data-number="1"] {
				background-image: url(../images/ui/line1block.svg);
			}

			&[data-number="2"] {
				background-image: url(../images/ui/line2block.svg);
			}

			&[data-number="3"] {
				background-image: url(../images/ui/line3block.svg);
			}
		}
	}

	[data-sort-name] {
		cursor: pointer;
	}

	[data-sort] {
		&:after {
			content: "↑";
			margin-left: 5rem / $fs;
			font-size: .8em;
			font-weight: 300;
		}
	}

	[data-sort="ASC"] {
		&:after {
			content: "↓";
		}
	}

	[data-sort="DESC"] {
		&:after {
			content: "↑";
		}
	}
}