.right__contacts {
	padding-left: 50rem / $fs;

	h2:first-child {
		margin-top: 0;
		line-height: 65rem / $fs;
	}

	.contacts__office {
		font-size: 16rem / $fs;
		text-transform: uppercase;
		margin-bottom: 25rem / $fs;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 18rem / $fs;
			height: 18rem / $fs;
			background: url(../images/ui/office-icon.jpg) center center / contain no-repeat;
			margin-right: 10rem / $fs;
		}
	}

	.contacts__block {
		margin-top: 10rem / $fs;
		line-height: 1.6;

		a {
			color: #3eadda;
			text-decoration: none;
			border-bottom: 1px solid;
			transition: border .2s ease;

			&:hover {
				border-color: transparent;
			}
		}

		.block__right {
			background: $borderColor;
			padding: 0 5rem / $fs;
			margin-left: 5rem / $fs;
		}
	}
}

#contact-map {
	height: 400rem / $fs;
	margin-top: 30rem / $fs;
	width: 100%;
}

.right__form {
	padding: 0 0 20rem / $fs 50rem / $fs;

	.form__input {
		margin-top: 20rem / $fs;

		input, textarea {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid $borderColor;
			resize: none;
			transition: all .2s ease;

			@include placeholder {
			    color: #8c8c8c;
			}

			&:focus {
				border: 1px solid #ccc;
				outline: none;
			}

			&.error {
				border: 1px solid red;
			}
		}

		input {
			height: 50rem / $fs;
			padding: 0 15rem / $fs;
		}

		textarea {
			min-height: 235rem / $fs;
			padding: 15rem / $fs 15rem / $fs;
		}

		label.error {
			display: inline-block;
			vertical-align: top;
			padding-top: 5rem / $fs;
			font-size: 14rem / $fs;
		}
	}
}

.us-news {
	padding-bottom: 20rem / $fs;
}

.news__list {
	margin: 0;
	padding: 0;
	list-style: none;

	.list__item {
		line-height: 1.5;
		padding-bottom: 40rem / $fs;
		overflow: hidden;
		border-bottom: 1px solid $borderColor;

		h2 {
			margin-bottom: 0;
		}

		.item__date {
			margin-top: 20rem / $fs;

			span {
				display: inline-block;
				background: $borderColor;
				padding: 0 5rem / $fs;
			}
		}

		.item__link {
			a {
				position: relative;

				&:before {
					content: "–";
					position: absolute;
					left: -15rem / $fs;
				}
			}
		}

		.item__content {
			margin-top: 20rem / $fs;
		}

		.page__left, .page__right {
			border: none;
			padding-top: 0;
		}
	}
}

.news-images {
	overflow: hidden;

	.images__item {
		float: left;
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 120rem / $fs;
		height: 120rem / $fs;
		margin: 1px;

		span {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}