.done {
	padding-bottom: 60rem / $fs;

	.done__house {
		padding: 30rem / $fs 0 15rem / $fs;
		border-bottom: 1px solid $borderColor;

		.house__left {
			float: left;
			width: 40%;

			.left__main-image {
				height: 400rem / $fs;
				background-size: cover;
				background-position: center center;
			}

			.left__images {
				margin: 6rem / $fs 0 0 -6rem / $fs;
				overflow: hidden;
				width: 416rem / $fs;

				.images__item {
					position: relative;
					display: inline-block;
					float: left;
					width: 33%;
					height: 132rem / $fs;
					box-sizing: border-box;

					.item__image {
						position: absolute;
						top: 6rem / $fs;
						left: 6rem / $fs;
						right: 6rem / $fs;
						bottom: 6rem / $fs;
						background-size: cover;
						background-position: center center;
					}
				}
			}
		}

		.house__right {
			float: left;
			width: 60%;
			box-sizing: border-box;
			padding-left: 55rem / $fs;

			.right__title {
				padding: 25rem / $fs 0;
				font-size: 24rem / $fs;
				font-family: 'pf_agora_slab_pro';
				font-weight: 800;
			}

			.right__info {
				border-top: 1px solid $borderColor;
				line-height: 40rem / $fs;
				padding: 20rem / $fs 0;

				.info__block {
					font-size: 0;

					.block__left,
					.block__right {
						display: inline-block;
						vertical-align: top;
						font-size: 1rem;
					}

					.block__left {
						width: 40%;
					}

					.block__right {
						width: 60%;

						span {
							display: inline-block;
							background: $borderColor;
							line-height: 1.4em;
							padding: 0 5rem / $fs;
						}
					}
				}
			}

			.right__btns {
				padding-top: 25rem / $fs;
				border-top: 1px solid $borderColor;

				.us-btn {
					margin-right: 10rem / $fs;
				}
			}
		}
	}
}