.index-slider {
	position: relative;
	height: 645rem / $fs;
	min-width: $minWidth;

	.slider__list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		-webkit-perspective: 1500px;

		.list__item {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			line-height: 645rem / $fs;
			text-align: center;
			background-size: cover;
			background-position: center center;
			opacity: 0;
			transition: opacity .5s ease-in;

			&.active {
				transition: opacity .5s ease-out;
				opacity: 1;
			}

			&.zActive {
				z-index: 2;
			}

			&:before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, .25);
			}

			.item-content {
				position: relative;
				z-index: 3;
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
				width: 100%;
			}

			.item__title {
				position: relative;
				font-size: 40rem / $fs;
				color: #fff;
				font-weight: 700;
				line-height: 1.188;
			}

			.item__btns {
				margin-top: 30rem / $fs;
			}
		}
	}

	.slider__dots {
		position: absolute;
		z-index: 3;
		left: 0;
		right: 0;
		bottom: 30rem / $fs;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 19rem / $fs;
			height: 19rem / $fs;
			border-radius: 19rem / $fs;
			margin: 0 10rem / $fs;
			background: #fff;
			transition: all .5s ease;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				top: -6px;
				left: -6px;
				right: -6px;
				bottom: -6px;
				border: 2px solid transparent;
				border-radius: 25rem / $fs;
				transition: all .5s ease 0s;
			}

			&.active {
				transform: scale(.7);
				cursor: default;

				&:after {
					border: 2px solid #fff;
					transition: all 1s ease;
				}

				&:active {
					transform: scale(.7);
				}
			}

			&:active {
				transform: scale(.8);
			}
		}
	}
}

.index-block {
	padding: 40rem / $fs 0;
	text-align: center;

	&.mortgage-block {
		padding-bottom: 100rem / $fs;
	}

	&.block-choise {
		padding: 0;
		color: #fff;
		background: url(../images/index/choise-back.jpg) center center / cover;

		.block-container {
			padding: 100rem / $fs 0;
		}

		.block__title {
			font-size: 36rem / $fs;
		}
	}

	.block__map-icon {
		height: 55rem / $fs;
		background: url(../images/index/map-icon.png) center center / auto 100% no-repeat;
	}

	.block__title {
		font-family: 'pf_agora_slab_pro';
		font-size: 24rem / $fs;
		font-weight: 800;
	}

	.block__text {
		font-size: 24rem / $fs;
		margin-top: 20rem / $fs;
		line-height: 1.5;

		&.text-min {
			font-size: 16rem / $fs;
		}
	}

	.block__btn {
		margin-top: 20rem / $fs;
	}

	.block-line {
		height: 90rem / $fs;
		line-height: 90rem / $fs;
		text-align: left;
		background: rgba(71, 108, 180, .8);

		b {
			font-family: 'pf_agora_slab_pro';
			font-size: 20rem / $fs;
			font-weight: 800;
			margin-right: 20rem / $fs;
		}

		.relative {
			display: inline-block;
			vertical-align: middle;
			width: 830rem / $fs;
			height: 90rem / $fs;
		}

		.inside__slide {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			transform: translateY(-25%);

			&.active {
				opacity: 1;
				transform: translateY(0);
			}

			&.bottom {
				opacity: 0;
				transform: translateY(25%);
			}

			&.transition {
				transition: all .5s ease;
			}
		}
	}

	.mortgage {
		padding: 30px 0;

		.mortgage__item {
			display: inline-block;
			vertical-align: middle;
			width: 300px;
			height: 75px;
			margin: 0 85px;
			background: {
				size: auto 100%;
				position: center center;
				repeat: no-repeat;
			}
		}
	}

	&.desc-block {
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		padding: 0;

		.wrapper {
			width: 75rem;
		}
	}

	.desc-list {
		margin: 0;
		padding: 0;
		list-style: none;

		.list__item {
			float: left;
			width: 33.33333%;
			box-sizing: border-box;
			border-right: 1px solid $borderColor;
			height: 420px;
			padding-top: 80px;

			&:last-child {
				border-right: 0;
			}

			.item__title {
				margin-top: 20px;
				font-family: 'pf_agora_slab_pro';
				font-size: 24rem / $fs;
				font-weight: 800;
			  line-height: 1.167;
			}
		}
	}
}

.index-filter {
	width: 1200rem / $fs;
	margin: 0 auto;
	overflow: hidden;

	.filter__item {
		position: relative;
		overflow: hidden;
		float: left;
		width: 50%;
		height: 200rem / $fs;
		line-height: 200rem / $fs;
		text-align: center;
		text-decoration: none;
		color: inherit;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all .5s ease;
		}

		&:first-child {
			position: relative;

			&:before {
				background: url(../images/index/filter1.jpg) center center / cover no-repeat;
			}

			&:after {
				content: "";
				position: absolute;
				right: -1px;
				width: 2px;
				top: 0;
				bottom: 0;
				background: #fff;
			}
		}

		&:last-child {
			&:before {
				background: url(../images/index/filter2.jpg) center center / cover no-repeat;
			}
		}

		&:hover {
			&:before {
				transform: scale(1.1);
			}	
		}

		.item__title {
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: middle;
			line-height: 55rem / $fs;
			font-family: 'pf_agora_slab_pro';
			font-size: 24rem / $fs;
			font-weight: 800;
			background: #fff;
			padding: 0 20rem / $fs;
		}
	}
}

.index-benefits {
	border-top: 1px solid $borderColor;
	overflow: hidden;

	&.benefits-blocks {
		border-bottom: 1px solid $borderColor;
	}

	.benefits-container {
		position: relative;
		width: 1200rem / $fs;
		margin: 0 auto;
		overflow: hidden;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			left: 33.33333%;
			bottom: 0;
			width: 1px;
			margin-left: -.5px;
			background: $borderColor;
		}

		&:after {
			left: 66.66666%;
		}
	}

	.benefits__item {
		float: left;
		width: 33.33333%;
		padding: 80rem / $fs 80rem / $fs 120rem / $fs;
		box-sizing: border-box;
		//border-right: 1px solid $borderColor;
	}

	.benefits__block {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 33.33333%;
		margin-right: -.2em;
		box-sizing: border-box;
		padding: 60rem / $fs 25rem / $fs 60rem / $fs 80rem / $fs;

		.content__title {
			position: relative;
		  font-size: 24px;
		  font-family: "pf_agora_slab_pro";
		  font-weight: 800;
		  line-height: 1.167;

		  img {
		  	position: absolute;
		  	right: 100%;
		  	top: 50%;
		  	margin-right: 25rem / $fs;
		  	max-width: 33rem / $fs;
		  	transform: translateY(-50%);
		  }
		}

		.content__desc {
		  font-size: 16rem / $fs;
		  font-weight: bold;
		  line-height: 1.5;
		  margin-top: 15rem / $fs;
		}
	}
}

.benefits__item {
	&:last-child {
		border-right: none;
	}

	.item__image {
		height: 107rem / $fs;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;

		&.image-light {
			background-image: url(../images/index/light-circle.png);
		}

		&.image-gas {
			background-image: url(../images/index/gas-circle.png);
		}

		&.image-water {
			background-image: url(../images/index/water-circle.png);
		}
	}

	.item__title {
		font-family: 'pf_agora_slab_pro';
		font-size: 36rem / $fs;
		font-weight: 800;
		margin-top: 20rem / $fs;
		text-align: center;
	}

	.item__desc {
		font-size: 15rem / $fs;
		line-height: 1.6;
		margin-top: 50rem / $fs;
	}
}

.index-gallery {
	overflow: hidden;

	.gallery__line {
		position: relative;
		left: 0;
		font-size: 0;
		white-space: nowrap;
		transition: all .2s linear;

		.line__item {
			display: inline-block;
			vertical-align: top;
			background-size: cover;
			background-position: center center;
			width: 195rem / $fs;
			height: 195rem / $fs;
		}
	}
}

.stages-form {
	.ui-button {
		&:before {
			border-color: #fff;
		}
		
		&:after {
			background: #fff;
		}
	}

	.ui-button-text {
		color: #fff;
	}

	.ui-button-text-only .ui-button-text {
		padding: 0;
	}

	.stage__checks {
		display: inline-block;
		text-align: left;
		margin-top: 15rem / $fs;

		label {
			margin-top: 10rem / $fs;
			text-align: left;
		}

		.checks__title {
			font-family: 'pf_agora_slab_pro';
			font-weight: 700;
			margin: 10px 0;
		}
	}
}

.stages-status {
	font-size: 0;

	.status__dot {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 17rem / $fs;
		height: 17rem / $fs;
		border-radius: 17rem / $fs;
		background: #fff;
		transition: all .5s ease;

		&:before {
			content: "";
			position: absolute;
			top: -4px;
			left: -4px;
			right: -4px;
			bottom: -4px;
			border: 2px solid transparent;
			border-radius: 50%;
			transition: all .5s ease;
		}

		&.active {
			transform: scale(.7);

			&:before {
				border-color: #fff;
			}
		}
	}

	.status__line {
		display: inline-block;
		vertical-align: middle;
		height: 1px;
		width: 70rem / $fs;
		background: #fff;
	}
}

.js-stage {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all .5s ease;

	&.active {
		z-index: 3;
		opacity: 1;
	}
}

.form-book {
	position: relative;
	height: 330rem / $fs;

	.stages-status {
		position: relative;
		z-index: 1;
		padding-top: 360rem / $fs;
	}
}

.form-mortgage {
	height: 200px;
	position: relative;

	.stages-status {
		position: relative;
		z-index: 1;
		padding-top: 230px;
	}
}

.index-scroll-btn {
	color: #fff;
	text-decoration: none;

	&:after {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 100rem / $fs;
		height: 100rem / $fs;
		margin-top: 15rem / $fs;
		background: url(../images/ui/scroll-icon.svg) center center / contain no-repeat;
	}
}