extends templates/layout

block content
	.half-page
		.wrapper
			.page__left
				.tabs-title
					h1.us-title.title-yellow
						span О проекте
					a(href="#").title__link О компании
					a(href="#").title__link Документы
					a(href="#").title__link Новости
				.us-article
					h2 Вяземские сады — коттеджный посёлок в 70 км от Москвы по Симферопольскому шоссе.
					h3 ЖИВИТЕ И ОТДЫХАЙТЕ КРУГЛЫЙ ГОД
					p Работающие коммуникации: электричество, магистральный газ, зимний водопровод. Асфальтовая дорога до поселка.
					h3 ЦИФРЫ
					p 3 очереди строительства, 479 участков, от 9 до 31 сотки, средняя стоимость сотки — 130 000 руб., стоимость участков от 1 002 750 до 4 667 250 рублей.
					h3 ВАРИАНТЫ СТРОИТЕЛЬСТВА
					p Без подряда (85% участков посёлка), участки с обязательным подрядом или с уже готовыми домами.
					h2 Готовность
					h3 НАРУЖНЫЕ СЕТИ
					ul
						li Электричество готово на 100%, в эксплуатацию в январе 2014.   Центральное водоснабжение введено в эксплуатацию в феврале   2014. Газопровод работает с марта 2014.
					h3 ОБЬЕКТЫ СОЦИАЛЬНОЙ ИНФРАСТРУКТУРЫ
					ul
						li построили пропускной пункт на въезде;
						li построили гостевую парковку на 15 места;
						li спланировали пешеходную дорожку на главной аллее;
						li создали парк на рельефе с лавочками и «зелеными комнатами»;
				.us-news
					h2 Новости
					ul.news__list
						each i in [1,2]
							li.list__item
								.item__date 11/07/15
								.item__link
									a(href="#").us-link Получены свидетельства на право собственности в коттеджном   поселке «вяземские сады - 3»
			.page__right
				.right__contacts
					h2 Контакты
					.contacts__office Центральный офис ук «Земактив»
					.contacts__block
						span.block__left Отдел продаж:
						span.block__right +7 (495) 249-55-55
					.contacts__block
						span.block__left E-mail:
						span.block__right
							a(href="#") info@zemaktiv.ru
					.contacts__block
						span.block__left Часы работы:
						span.block__right с ПН по ПТ с 10:00 до 19:00
					.contacts__block
						span.block__left Адрес:
						span.block__right 2-ая Звенигородская улица, дом 13, стр. 42, Москва, 123022 ст. м. «Улица 1905 года»
				#contact-map
				.right__form
					h2 Обратная связь
					form(action="json/form.json").js-contact-form
						.form__input
							input(name="name" placeholder="Имя")
						.form__input
							input(name="email" placeholder="E-mail")
						.form__input
							textarea(name="message" placeholder="Вопрос").js-autosize
						.form__input
							button.us-btn.btn-green(type="submit")
								span Отправить
						.form__input.js-response-text(style="display: none;")
					.js-contact-success(style="display: none;")
						.form__input Ваше сообщение успешно отправлено!