extends templates/layout

block content
	.wrapper-choise.js-choise-wrapper
		.js-choise-map
			.wrapper.relative
				.wrapper-photos
					h1.us-title.title-choise.page-full
						span Выбор участка
				.wrapper-params
					a(href="#").choise__toparams
						span.toparams__title Подбор по параметрам
						span.toparams__desc Цена и площадь
			.choise__map.js-map-container
				.map__image.js-map
					//- .image__mark.js-mark(style="left: 2000px; top: 1500px;" data-id="4")
					.image__tooltip.js-tooltip
						a(href="#").tooltip__close.js-close
						.tooltip__title Участок №<span class="js-bnum"></span>
						//- .tooltip__subtitle Вторая очередь
						ul.tooltip__list
							li.list__item <span class="js-barea"></span> соток
							//- li.list__item Без подряда
							li.list__item <span class="js-bprice"></span> руб.
						.tooltip__btn
							a(href="#" data-id).js-book.us-btn.btn-white
								span Забронировать
		.js-choise-filter.choise-filter
			.wrapper
				.page__full
					h1.us-title.title-choise
						span Выбор участка
					a(href="#").choise__tomap.us-btn.btn-white
						span Выбрать на генплане
					.filter__form
						.form__left
							.form__title Участки
						.form__right
							.right__block
								.form__title Цена, руб.
								.form__desc от <span class="js-price-from"></span> до <span class="js-price-to"></span>
								.form__slider
									#range-price
									input(name="pricefrom" type="hidden")
									input(name="priceto" type="hidden")
							.right__block
								.form__title Площадь, сот.
								.form__desc от <span class="js-area-from"></span> до <span class="js-area-to"></span>
								.form__slider
									#range-area
									input(name="areafrom" type="hidden")
									input(name="areato" type="hidden")
							.right__block
								a(href="#").us-btn.btn-green
									span Подбор
						.clearfix
	script.
		Dictionary = window.Dictionary || {};
		Dictionary.buildings = {
				"1": {
					id: 1,
					number: 225,
					land_area: 24,
					material: "Газобетонные блоки",
					communication: "Газ, Вода, Водоснабжение",
					price: 4840145,
					coordinate_x: 2295,
					coordinate_y: 870
				},
				"2": {
					id: 2,
					number: 226,
					land_area: 12,
					material: "Газобетонные блоки",
					communication: "Газ, Вода, Водоснабжение",
					price: 1000145,
					coordinate_x: 2350,
					coordinate_y: 870
				},
			};
