extends templates/layout

block content
	.wrapper-choise.js-choise-wrapper
		.js-choise-map
			.wrapper.relative
				.js-map-title.wrapper-photos(style="display: none;")
					h1.us-title.title-choise.page-full
						span Выбор участка
					.lines-choice
						a(href="#" data-number="1").choice__left.js-choice-left
						a(data-number="2").choice__center.js-choice-center
						a(href="#" data-number="3").choice__right.js-choice-right
				.wrapper-params
					a(href="#").choise__toparams.js-show-filter(style="display: none")
						span.toparams__title Подбор по параметрам
						span.toparams__desc Цена и площадь
			.choise__map.js-map-container
				.map__image.js-map
					//- .image__mark.js-mark(style="left: 2000px; top: 1500px;" data-id="4")
					each i in [1,2,3]
						.image__line(class="line-#{i} js-line-#{i}")
					.image__tooltip.js-tooltip
						a(href="#").tooltip__close.js-close
						.tooltip__title Участок №<span class="js-bnum"></span>
						.tooltip__subtitle Очередь: <span class="js-bturn"></span>
						ul.tooltip__list
							li.list__item <span class="js-barea"></span> соток
							li.list__item <span class="js-bcont"></span>
							li.list__item <span class="js-bprice"></span> руб.
						.tooltip__btn
							a(href="#" data-id data-open="book").js-book.js-open-overlay.us-btn.btn-white
								span Забронировать
		.js-choise-filter.choise-filter
			.wrapper
				.page__full
					h1.us-title.title-choise
						span Выбор участка
					a(href="#").choise__tomap.us-btn.btn-white.js-show-map
						span Выбрать на генплане
					.filter__form
						form.js-filter-form
							.form__left
								.form__title Участки
								.left__check
									input(name="withoutpod" id="withoutpod" type="checkbox" checked="checked").js-checkbox 
									label(for="withoutpod") Без подряда
								.left__check
									input(name="withpod" id="withpod" type="checkbox" checked="checked").js-checkbox 
									label(for="withpod") С подрядом
								.left__check
									input(name="withhouse" id="withhouse" type="checkbox" checked="checked").js-checkbox 
									label(for="withhouse") Участок с домом
							.form__right
								.right__block
									.form__title Цена, руб.
									.form__desc от <span class="js-price-from"></span> до <span class="js-price-to"></span>
									.form__slider
										#range-price
										input(name="pricefrom" type="hidden")
										input(name="priceto" type="hidden")
								.right__block
									.form__title Площадь, сот.
									.form__desc от <span class="js-area-from"></span> до <span class="js-area-to"></span>
									.form__slider
										#range-area
										input(name="areafrom" type="hidden")
										input(name="areato" type="hidden")
								.right__btn
									button(type="submit").us-btn.btn-green
										span Подбор
						.clearfix
			.filter__list.js-filter-list
				.list__table
					ul.table__head
						li.body__item
							.wrapper
								span Участок
								span Очередь
								span Площадь, сот.
								span Статус
								span Цена, руб.
					ul.table__body.js-filter-items
						li.body__item
							.wrapper
								span 243
								span 2
								span 29,6
								span Без подряда
								span 2 944 000
						li.body__item
							.wrapper
								span 243
								span 2
								span 29,6
								span Без подряда
								span 2 944 000

	script.
		Dictionary = window.Dictionary || {};
		        Dictionary.buildings = {
		                                                "1": {
		                id: 1,
		                number: 1,
		                land_area: 153.16,
		                price: 4840145,
		                coordinate_x: 869,
		                coordinate_y: 1734,
		                sold: 0,
		                status: 2,
		                turn: 1


		            },
		                                "2": {
		                id: 2,
		                number: 2,
		                land_area: 153.16,
		                price: 4840145,
		                coordinate_x: 1100,
		                coordinate_y: 2060,
		                sold: 0,
		                status: 2,
		                turn: 1


		            },
		                                "3": {
		                id: 3,
		                number: 17,
		                land_area: 12,
		                price: 4480858.5,
		                coordinate_x: 945,
		                coordinate_y: 2005,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "4": {
		                id: 4,
		                number: 19,
		                land_area: 13.87,
		                price: 1952906,
		                coordinate_x: 886,
		                coordinate_y: 1917,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "5": {
		                id: 5,
		                number: 22,
		                land_area: 15,
		                price: 2180840,
		                coordinate_x: 871,
		                coordinate_y: 1738,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "6": {
		                id: 6,
		                number: 24,
		                land_area: 15,
		                price: 1705502.96,
		                coordinate_x: 946,
		                coordinate_y: 1771,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "7": {
		                id: 7,
		                number: 26,
		                land_area: 10,
		                price: 1117012.16,
		                coordinate_x: 1006,
		                coordinate_y: 1801,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "8": {
		                id: 8,
		                number: 31,
		                land_area: 14,
		                price: 2099169.01,
		                coordinate_x: 1191,
		                coordinate_y: 1525,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "9": {
		                id: 9,
		                number: 32,
		                land_area: 18,
		                price: 2599930,
		                coordinate_x: 1160,
		                coordinate_y: 1472,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "10": {
		                id: 10,
		                number: 49,
		                land_area: 11,
		                price: 1248230.64,
		                coordinate_x: 1681,
		                coordinate_y: 1566,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "11": {
		                id: 11,
		                number: 52,
		                land_area: 13,
		                price: 1470237.01,
		                coordinate_x: 1738,
		                coordinate_y: 1626,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "12": {
		                id: 12,
		                number: 53,
		                land_area: 10,
		                price: 1523431.99,
		                coordinate_x: 1768,
		                coordinate_y: 1664,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "13": {
		                id: 13,
		                number: 72,
		                land_area: 10,
		                price: 739366.99,
		                coordinate_x: 1301,
		                coordinate_y: 1717,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "14": {
		                id: 14,
		                number: 75,
		                land_area: 10,
		                price: 480729,
		                coordinate_x: 1210,
		                coordinate_y: 1865,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "15": {
		                id: 15,
		                number: 76,
		                land_area: 12,
		                price: 879442,
		                coordinate_x: 1180,
		                coordinate_y: 1920,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "16": {
		                id: 16,
		                number: 77,
		                land_area: 11,
		                price: 782716,
		                coordinate_x: 1126,
		                coordinate_y: 1938,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "17": {
		                id: 17,
		                number: 78,
		                land_area: 12,
		                price: 581462.6,
		                coordinate_x: 1363,
		                coordinate_y: 1858,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "18": {
		                id: 18,
		                number: 79,
		                land_area: 12,
		                price: 833415.22,
		                coordinate_x: 1345,
		                coordinate_y: 1810,
		                sold: 0,
		                status: 0,
		                turn: 1


		            },
		                                "19": {
		                id: 19,
		                number: 136,
		                land_area: 12,
		                price: 932586,
		                coordinate_x: 2442,
		                coordinate_y: 1358,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "20": {
		                id: 20,
		                number: 151,
		                land_area: 13,
		                price: 843692,
		                coordinate_x: 2127,
		                coordinate_y: 1700,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "21": {
		                id: 21,
		                number: 152,
		                land_area: 11,
		                price: 767409,
		                coordinate_x: 2179,
		                coordinate_y: 1683,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "22": {
		                id: 22,
		                number: 153,
		                land_area: 11,
		                price: 757147,
		                coordinate_x: 2225,
		                coordinate_y: 1659,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "23": {
		                id: 23,
		                number: 154,
		                land_area: 11,
		                price: 754004,
		                coordinate_x: 2265,
		                coordinate_y: 1629,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "24": {
		                id: 24,
		                number: 159,
		                land_area: 11,
		                price: 726099,
		                coordinate_x: 2420,
		                coordinate_y: 1422,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "25": {
		                id: 25,
		                number: 163,
		                land_area: 12,
		                price: 783949,
		                coordinate_x: 2301,
		                coordinate_y: 1438,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "26": {
		                id: 26,
		                number: 164,
		                land_area: 12,
		                price: 797474,
		                coordinate_x: 2262,
		                coordinate_y: 1485,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "27": {
		                id: 27,
		                number: 165,
		                land_area: 12,
		                price: 802135,
		                coordinate_x: 2228,
		                coordinate_y: 1524,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "28": {
		                id: 28,
		                number: 166,
		                land_area: 12,
		                price: 770128,
		                coordinate_x: 2167,
		                coordinate_y: 1571,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "29": {
		                id: 29,
		                number: 167,
		                land_area: 11,
		                price: 738592,
		                coordinate_x: 2120,
		                coordinate_y: 1598,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "30": {
		                id: 30,
		                number: 168,
		                land_area: 10,
		                price: 684396,
		                coordinate_x: 2053,
		                coordinate_y: 1631,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "31": {
		                id: 31,
		                number: 170,
		                land_area: 11,
		                price: 908874,
		                coordinate_x: 1964,
		                coordinate_y: 1588,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "32": {
		                id: 32,
		                number: 171,
		                land_area: 11,
		                price: 884174,
		                coordinate_x: 2016,
		                coordinate_y: 1572,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "33": {
		                id: 33,
		                number: 172,
		                land_area: 11,
		                price: 905226,
		                coordinate_x: 2065,
		                coordinate_y: 1546,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "34": {
		                id: 34,
		                number: 173,
		                land_area: 12,
		                price: 919286,
		                coordinate_x: 2114,
		                coordinate_y: 1515,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "35": {
		                id: 35,
		                number: 174,
		                land_area: 12,
		                price: 926582,
		                coordinate_x: 2145,
		                coordinate_y: 1478,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                                "36": {
		                id: 36,
		                number: 175,
		                land_area: 12,
		                price: 936614,
		                coordinate_x: 2186,
		                coordinate_y: 1442,
		                sold: 0,
		                status: 0,
		                turn: 2


		            },
		                    

		        };
