extends templates/layout

block content
	.us-page
		.wrapper
			h1.us-title.title-green
				span Готовые дома
		.done
			each i in [1,2]
				.done__house
					.wrapper
						.house__left
							.left__main-image(style="background-image: url(../images/tmp/house.jpg);")
							.left__images
								a(href="#").images__item
									span.item__image(style="background-image: url(../images/tmp/house.jpg);")
								a(href="#").images__item
									span.item__image(style="background-image: url(../images/tmp/house.jpg);")
								a(href="#").images__item
									span.item__image(style="background-image: url(../images/tmp/house.jpg);")
						.house__right
							.right__title Дом по проекту «Подберезье»,<br>участок №213
							.right__info
								.info__block
									.block__left Площадь:
									.block__right
										span 123 кв.м
								.info__block
									.block__left Метериал:
									.block__right
										span Газобетонные блоки
								.info__block
									.block__left Площадь участка:
									.block__right
										span 10 соток
								.info__block
									.block__left Номер участка:
									.block__right
										span 213
								.info__block
									.block__left Коммуникации:
									.block__right
										span Газ, Электричество
								.info__block
									.block__left Цена с участком:
									.block__right
										span 4 943 434 руб
							.right__btns
								a(href="#").us-btn.btn-white
									span Посмотреть на генплане
								a(href="#").us-btn.btn-green
									span Забронировать
						.clearfix