extends templates/layout

block content
	.index-slider
		.slider__list
			.list__item
				.wrapper
					.item__title Сегодня участки с действующими<br>Коммуникациями с выгодой<br>до 200 000 рублей
					.item__btns
						a(href="#").us-btn.btn-transparent Выбрать участок
			.list__item
		.slider
	.index-map
		.wrapper
			.map__icon
			.map__text Симферопольское шоссе, 70 км от МКАД
			.map__btn
				.us-btn.btn-white Карта
	.index-links
		.links__item.item-left
			.item__title Готовые дома за 3.5 млн
		.links__item.item-right
			.item__title
