extends templates/layout

block content
	.half-page.infra-page
		.infra-map#infra-map
		.wrapper
			.page__left
				.tabs-title
					h1.us-title.title-red
						span Инфраструктура
					a(href="location.html").title__link Расположение
				h2 По близости много замечательных мест, выберете то что вам интересно:
				.places-list
					.js-balloon-item.list__item(data-title="Летнее кафе" data-image="http://zemaktiv.dev.grapheme.ru/uploads/galleries/1438335284_1258.png" data-desc="Это магаз" data-longitude="55.04122958" data-latitude="37.35616642")
						.item__image
							.item__back.back-green
							.item__icon.icon-summer
						.item__desc Летнее кафе
					.js-balloon-item.list__item(data-title="Не магаз" data-image="http://zemaktiv.dev.grapheme.ru/uploads/galleries/1438335284_1258.png" data-desc="Это не магаз" data-longitude="55.04122958" data-latitude="37.35626642")
						.item__image
							.item__back.back-light-green
							.item__icon.icon-children
						.item__desc Детская площадка
					.list__item
						.item__image
							.item__back.back-green
							.item__icon.icon-summer
						.item__desc Магазин
					.list__item
						.item__image
							.item__back.back-light-green
							.item__icon.icon-children
						.item__desc Парк
					.list__item
						.item__image
							.item__back.back-red
							.item__icon.icon-beach
						.item__desc Пляж
					.list__item
						.item__image
							.item__back.back-green-blue
							.item__icon.icon-shop
						.item__desc Спорт комплекс
					.list__item
						.item__image
							.item__back.back-blue
							.item__icon.icon-church
						.item__desc Часовня
					.list__item
						.item__image
							.item__back.back-green-blue
							.item__icon.icon-shop
						.item__desc Парк
			.clearfix