extends templates/layout

block content
	.half-page.infra-page
		.infra-map#location-map
		.wrapper
			.page__left
				.tabs-title
					h1.us-title.title-red
						span Расположение
					a(href="infra.html").title__link Инфраструктура
				h2 Симферопольское шоссе, 70 км от МКАД
				.way-container
					//-.way-list
						.list__item
							.item__image.image-bus
							.item__desc На транспорте
						.list__item
							.item__image.image-car
							.item__desc На авто
					.us-article
						p Ехать прямо по Симферопольскому шоссе, на 70-м километре будет соответствующий указатель и баннер «Вяземских садов», свернуть на указателе и ехать 3 км
					//-.way-btns
						a(href="#").us-btn.btn-white
							span Через Вяземское шоссе
						a(href="#").us-btn.btn-white
							span Через Дмитровское шоссе
			.clearfix