extends templates/layout

block content
	.wrapper
		.page-full
			.tabs-title
				a(href="all-news.html").title__link Все новости
			h2 Получены свидетельства на право собственности в коттеджном поселке «вяземские сады - 3»
			.news-img
				img(src="images/tmp/index-slider1.jpg")
			.us-article
				h3 ЖИВИТЕ И ОТДЫХАЙТЕ КРУГЛЫЙ ГОД
				p Работающие коммуникации: электричество, магистральный газ, зимний водопровод. Асфальтовая дорога до поселка.
				ul
					li построили пропускной пункт на въезде;
					li построили гостевую парковку на 15 места;
					li спланировали пешеходную дорожку на главной аллее;
					li создали парк на рельефе с лавочками и «зелеными комнатами»;
			.us-news
				h2 Новости
				ul.news__list
					each i in [1,2]
						li.list__item
							.item__date 11/07/15
							.item__link
								a(href="#").us-link Получены свидетельства на право собственности в коттеджном   поселке «вяземские сады - 3»